/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/******************************/
/* General site-wide settings */
/******************************/

body {
  font-family: palatino linotype;
  background-color: #D1D1D1;
}


/*****************************************************************************************/

/*****************************************************************************************/


div {
  margin: 25px;
}

div.floater {
  font-size: 1.5em;
  float: left;
}



.menu-bar {
  background-color: #3C4248;
  color: white;
}

.menu-bar > a {
  color: white;
}

a.top {
	padding: 5px 10px;
	background-color: #B5BABA;
	margin-top: 15px;
	text-decoration: none;
}

a.geek {
  text-decoration: underline;
  color: black;
}


a.geek:hover {
  color: lime;
}



/***********************************************************************/
/* This section creates the navigation buttons at the top of each page */
/***********************************************************************/



a.left {
	float: left;
  background-color: #D1D1D1;
  text-decoration: none;
  color: white;
  padding: 5px;
}

a.right	{
	float: right;
  background-color: #D1D1D1;
  text-decoration: none;
  color: white;
  padding: 5px;
}


/***************************************************************************************************/
/* This section creates the header at the top, including the clock, battery, and audio (on page 2) */
/***************************************************************************************************/

header {
  padding-top: 5px;
  padding-bottom: 1px;
  height: 200px;
}

audio {
  position: absolute;
  top: 150px;
  right: 40%;
  left: 40%;
}

h1 {
  font-size: 3em;
  text-align: center;
}

#time {
  margin: auto;
}

img#phone-top {
  position: absolute;
  top: 0;
  right: 20px;
}



/*******************************************************************************/
/* This section creates the styling of the buttons at the bottom of the header */
/*******************************************************************************/

#details {
  text-align: center;
  display: block;
  position: absolute;
  font-size: 2.5em;
  padding: 13px;
  right: 0;
  top: 100px;
}

#messages {
  display: inline-block;
  text-align: center;
  position: absolute;
  font-size: 2.5em;
  padding: 13px;
  left: 0;
  top: 100px;
}


/*---------------------------------------------------Page 1----------------------------------------------------------*/

/*************************************************************/
/*This section creates the background of the index.html page */
/*************************************************************/


body#index {
   background-image: url('../images/background.jpg');
   top: 0;
   bottom: 0;
   background-position: top;
}


/******************************************************************/
/*This section creates the app-like center of the index.html page */
/******************************************************************/

#block1 {
  background-image: url('../images/racing3.png');
}

#block2 {
  background-image: url('../images/lichKing.jpg');
}

#block3 {
  background-image: url('../images/myBand.jpg');
}

#block4 {
  background-image: url('../images/innards.jpg');
  cursor: pointer;
}

.block {
  display: inline-block;
  height: 200px;
  width: 200px;
  margin-left: 100px;
  border-radius: 15px;
  box-shadow: none;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  transform: rotateY(0deg);
}

.block:hover {
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  transform: rotateY(-180deg);
}

/*---------------------------------------------------Page 2----------------------------------------------------------*/

/********************************************************/
/* This section creates the message structure on page 2 */
/********************************************************/

article {
  box-sizing: border-box;
  position: relative;
  width: 48%;
  padding: 25px;
  border-radius: 15px;
}

article:nth-child(2n) {
  background-color: blue;
  right: 0;
  left: 50%;
}

article:nth-child(2n+1) {
  background-color: #C0C0C0;
  left: 2%;
}

section {
  padding-top: 2%;
}


/********************************************************************/
/* This section creates the gif's at the top and bottom of the page */
/********************************************************************/


#gif {
  margin-top: 10px;
  margin-left: 605px;
}

#btn {
  margin: 0 auto;
  margin-top: 15px;
  text-align: center;
  height: 95px;
  width: 200px;
  background-color: aqua;
  border-radius: 15px;
  padding-top: 7px;
}
#btn:hover {
  background-color: blue;
}

.hidden {
  display: none;
}



/*********************************************/
/* This section formats the images on page 2 */
/*********************************************/


.image {
  padding: 10px;
}

img.geek {
  margin-top: 15px;
  margin-bottom: 15px;
}


/*---------------------------------------------------Page 3----------------------------------------------------------*/


/************************************************************************************/
/* This section creates the goals list, including the image and video at the bottom */
/************************************************************************************/


.goals-list {
  list-style-type: none;
  padding-top: 50px;
}

.float-left {
  float: left;
  font-size: 2em;
}

li.bullet {
  list-style-type: upper-roman;
  margin-left: 25px;
}

li.up {
  display: inline-block;
  text-align: center;
}

li.indented {
  margin-bottom: 1.5em;
  list-style-type: disc;
}

ul.indented {
  
}

img#center {
  float: right;
  display: inline-block;
  margin-right: 10%;
  height: 400px;
  width: 400px;
  margin-top: -35px;
}

p.goals-list {
  font-size: 2.1em;
}

